@font-face {
  font-family: Anuphan;
  src: url(./assets/fonts/Anuphan-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Anuphan;
  src: url(./assets/fonts/Anuphan-Light.otf);
  font-weight: lighter;
}

@font-face {
  font-family: Anuphan;
  src: url(./assets/fonts/Anuphan-Bold.otf);
  font-weight: bold;
}

.App {
  text-align: center;
  font-family: Anuphan, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Opera and Firefox */
}

.navbar {
  z-index: 100;
  width: 100vw;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.72);
  height: 60px;
  backdrop-filter: blur(7px) saturate(200%);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.navbar-content {
  height: inherit;
  margin: auto;
  width: 80vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-content .title {
  font-size: 20px;
  font-weight: bold;
}

.navbar-content .links button {
  outline: none;
  border: none;
  background: transparent;
  margin: 0 10px;
  text-decoration: none;
  color: black;
  transition: all ease-in-out 150ms;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
}

.navbar-content .links button:hover {
  color: rgb(26, 120, 241);
}

.top {
  display: flex;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(./assets/images/cover.jpg);
  font-weight: bold;
}

.top-content {
  width: 80vw;
  margin: auto;
  text-align: start;
  color: white;
}

.top-content h1 {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.text-top {
  font-size: 36px;
}

.text-mid {
  font-size: 70px;
}

.text-bot {
  font-size: 32px;
}

.top-content button {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border: 2px solid white;
  border-radius: 200px;
  background-color: transparent;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
  outline: none;
  transition: all ease-in-out 250ms;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.top-content button:hover {
  backdrop-filter: blur(7px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.65);
  border: 2px solid transparent;
  color: black;
  text-shadow: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.mid {
  display: flex;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.mid-content {
  width: 80vw;
  margin: auto;
  text-align: start;
  color: rgb(37, 37, 37);
}

.mid-content .book {
  background-color: rgb(190, 190, 190);
  width: 100%;
  height: 90vh;
  border-radius: 10px;
  border: 5px solid rgb(54, 54, 54);
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.39);
}

.mid-content .book:focus {
  box-shadow: 0 0 10px black;
}

.bottom {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100vh;
  background-attachment: fixed;
  background-image: repeating-linear-gradient(
      377deg,
      hsla(210, 79%, 75%, 0.05) 0px,
      hsla(210, 79%, 75%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(210, 79%, 75%, 0.05) 11px,
      hsla(210, 79%, 75%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      287deg,
      hsla(210, 79%, 75%, 0.05) 0px,
      hsla(210, 79%, 75%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(210, 79%, 75%, 0.05) 11px,
      hsla(210, 79%, 75%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      332deg,
      hsla(210, 79%, 75%, 0.05) 0px,
      hsla(210, 79%, 75%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(210, 79%, 75%, 0.05) 11px,
      hsla(210, 79%, 75%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      242deg,
      hsla(210, 79%, 75%, 0.05) 0px,
      hsla(210, 79%, 75%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(210, 79%, 75%, 0.05) 11px,
      hsla(210, 79%, 75%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    linear-gradient(332deg, rgb(70, 153, 172), rgb(23, 34, 87));
}

.bottom button {
  position: absolute;
  bottom: 20vh;
  right: 10vw;
  padding: 0 1rem;
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  font-family: inherit;
  font-weight: bold;
  font-size: 24px;
  color: white;
  cursor: pointer;
  outline: none;
  transition: all ease-in-out 250ms;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.bottom button:hover {
  backdrop-filter: blur(7px) saturate(200%);
  background-color: white;
  border: 2px solid transparent;
  color: black;
  text-shadow: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.bottom-content {
  width: 80vw;
  margin: auto;
  text-align: start;
  color: white;
}

.name-title {
  font-size: 38px;
  margin-bottom: 1rem;
}

.teacher-title {
  font-size: 38px;
  margin-bottom: 1rem 0;
}

.teacher-name {
  font-size: 24px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.subject-text {
  font-size: 18px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-top: 1.5rem;
}

.bottom-content h1 {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.bottom-content .name {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.bottom-content .name li {
  font-size: 24px;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.bottom-content .name .divider {
  height: 200px;
  background-color: white;
  width: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Responsive zone */
@media only screen and (max-width: 953px) {
  .bottom-content .name .divider {
    display: none;
  }

  .bottom-content .name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 680px) {
  .text-top {
    font-size: 20px;
  }

  .text-mid {
    font-size: 40px;
  }

  .text-bot {
    font-size: 20px;
  }

  .name-title,
  .teacher-title {
    font-size: 26px;
  }

  .bottom-content .name li,
  .teacher-name,
  .subject-text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    height: 50px;
    padding: 0.5rem 0;
  }

  .navbar-content {
    justify-content: center;
  }

  .navbar-content .title {
    font-size: 16px;
  }

  .navbar-content .links button {
    font-size: 18px;
  }

  .mid-content .book {
    height: 80vh;
  }

  .mid-content {
    width: 100vw;
  }
}

@media only screen and (max-width: 400px) {
  .bottom-content .name {
    padding-left: 0;
  }
}

@media only screen and (max-width: 350px) {
  .navbar-content {
    width: 85vw;
  }

  .text-top {
    font-size: 16px;
  }

  .text-mid {
    font-size: 32px;
  }

  .text-bot {
    font-size: 16px;
  }

  .name-title,
  .teacher-title {
    font-size: 22px;
  }

  .bottom-content .name li,
  .teacher-name,
  .subject-text {
    font-size: 14px;
  }
}
